@font-face {
  font-family: "Bender";
  src: url("Bender/Bender.otf");
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Bender";
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  color: white;
}

.h1-smallheader {
  font-family: "Bender";
  font-weight: bolder;
  font-style: italic;
  font-size: 35px;
  text-align: center;
}

div {
  font-family: "Bender";
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.body-small {
  font-family: "Bender";
  font-weight: normal;
  font-size: 5px;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
  color: white;
}

.div-body {
  font-family: "Bender";
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px
  color: white;
}

.div-copyright {
  font-family: "Bender";
  font-weight: light;
  font-size: 15px;
  text-align: center;
  color: white;
}

hr {
  margin-left: 150px;
  margin-right: 150px;
}